.container-logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.logo{
    width: 130px;
    height: auto;
}